stream {
  server {
    listen 5672 ssl;
    ssl_protocols           TLSv1.2 TLSv1.1 TLSv1;
    ssl_ciphers             RC4:HIGH:!aNULL:!MD5;
    ssl_handshake_timeout   30s;

    ssl_certificate /etc/letsencrypt/live/${MAIN_HOSTNAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${MAIN_HOSTNAME}/privkey.pem;

    proxy_connect_timeout 1s;
    proxy_pass account-service;
  }
}
