stream {
  server {
    listen 5672 ssl;

    ssl_certificate /etc/letsencrypt/live/${MAIN_HOSTNAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${MAIN_HOSTNAME}/privkey.pem;

    proxy_connect_timeout 1s;
    proxy_pass account-service:5672;
  }
}
